div {
  background-color: yellow;
}

form {
  background-color: red;
}
/* input boxes, buttons by default doesn't inherit any properties. To make these input boxes, buttons inherit properties we have to make them the following: */
input {
  background-color: inherit;
}
button {
  background-color: inherit;
}
button:hover {
  background-color: blue;
}

/* 1. Each element tries to inherit the properties of its parent if the element itself dont have any property. and if its parent have no property then the element inherit the properties of its grand parent.
2. every element cant inherit properties such as input , buttons.In css we have to mention inherit for those. */
